.box_login {
	font-family: "ו";
	font-size: 9pt;
	color: #091B62;
	height: 20px;
	width: 100px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #000000;
}
