<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		">
	<!-- spring需要扫描的包 -->
	<context:component-scan base-package="com.chinasofti"></context:component-scan>
	<!-- 连接数据路 -->
	<bean id="configurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>
				classpath:jdbc.properties
			</value>
		</property>
	</bean>	
	
	<!-- 配置数据源 -->
	<bean id="jdbcDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	<property name="driverClass" value="${oracle.driver}"></property>
	<property name="jdbcUrl" value="${oracle.url}"></property>
	<property name="user" value="${oracle.user}"></property>
	<property name="password" value="${oracle.password}"></property>
	</bean>
	
	<!-- 使用LazyConnectionDataSourceProxy 提高数据库连接的使用率和效率 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
	<property name="targetDataSource" >
	<ref bean="jdbcDataSource"/>
	</property>	
	</bean>	
	
	 <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">	 
	 <property name="dataSource" ref="dataSource"></property>
	 <!-- 配置文件的位置 -->
	 <property name="mapperLocations" value="classpath:com/chinasofti/ctms/bean/*.xml"></property>	
	 <!-- 别名 -->
	 <property name="typeAliasesPackage" value="com.chinasofti.ctms.bean"></property>
	 </bean>
	 
	
	 <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
	 <constructor-arg ref="sqlSessionFactory"></constructor-arg>
	 </bean>	 
	
       <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
       <property name="basePackage" value="com.chinasofti.ctms.dao"></property>
       <property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate"></property>
       </bean>
	   
       <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
       <property name="dataSource" ref="dataSource"></property>
       </bean>
       <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
